* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
.register_body {
	display: flex;
	background:	linear-gradient(135deg,	rgba(100, 135, 255, 1), rgba(155, 80, 255, 1));
	margin: 0;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
.auth {
	display: inline-block;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	border-radius: 15px;
}
.auth_title {
	display: block;
	text-align: center;
}
.register_form {
	display: block;
	text-align: left;
	margin-top: 15px;
}
.register_input {
	display: block;
	width: 50ch;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid  rgba(0, 0, 0, 1);
	border-radius: 5px;
}
.auth_btn {
	display: block;
	width: 20ch;
	margin: 30px auto 0 auto;
	padding: 5px;
	background-color: rgba(0, 255, 65, 1);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.resend_btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: rgba(0, 0, 255, 1);
	background-color: rgba(255, 255, 255, 1);
	border: none;
	cursor: pointer;
	align-items: center;
}
.auth_btn:disabled {
	background-color: rgba(190, 190, 190, 1);
	cursor: not-allowed;
	opacity: 0.5;
}
.message {
	color: rgba(0, 255, 0, 1);
}
.error {
	color: rgba(255, 0, 0, 1);
}