<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/auth/register.css}">
		<title>
			二段階認証
		</title>
	</head>
	<body class="register_body">
		<div class="auth">
			<h2 class="auth_title">
				二段階認証
			</h2>
			<form class="register_form" th:action="@{/auth/register}" autocomplete="off" method="post">
				<label class="register_form">
					認証コード
				</label>
				<input class="register_input" type="text" name="code" inputmode="numeric" maxlength="6" autocomplete="off" required>
				<p class="message" th:if="${message}" th:text="${message}">
				</p>
				<p class="error" th:if="${error}" th:text="${error}">
				</p>
				<button class="auth_btn" id="auth_btn" type="submit" name="action" value="verify" disabled>
					認証
				</button>
				<button class="resend_btn" type="submit" name="action" value="resend" formnovalidate>
					認証コードを再送する
				</button>
			</form>
		</div>
		<script th:src="@{/auth/register.js}" defer></script>
	</body>
</html>