<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/auth/register.css}">
		<title>
			二段階認証
		</title>
	</head>
	<body>
		<div class="login">
			<h2>
				二段階認証
			</h2>
			<form th:action="@{/auth/register}" th:object=${registerAuthForm} autocomplete="off" method="post">
				<label>
					メールアドレスの認証コード
				</label>
				<input type="text" th:field="*{emailCode}" inputmode="numeric" pattern="[0-9]{6}" maxlength="6" autocomplete="off" required>
				<p th:if="${message}" th:text="${message}">
				</p>
				<p th:if="${error}" th:text="${error}">
				</p>
				<button class="auth_btn" type="submit" name="action" value="verify">
					認証
				</button>
				<button class="resend_btn" type="submit" name="action" value="resend">
					認証コードを再送する
				</button>
			</form>
		</div>
	</body>
</html>