<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/auth/register.css}">
		<title>
			二段階認証
		</title>
	</head>
	<body>
		<div class="login">
			<h2>
				二段階認証
			</h2>
			<form action="" object="" autocomplete="off" method="post">
				<label>
					メールアドレスの認証コード
				</label>
				<input type="text" field="" inputmode="numeric" pattern="" maxlength="6" autocomplete="off" required>
				<p if="" text="">
				</p>
				<p if="error" text="error">
				</p>
				<button class="auth_btn" type="submit" name="action" value="verify">
					認証
				</button>
				<button class="resend_btn" type="submit" name="action" value="resend">
					認証コードを再送する
				</button>
			</form>
		</div>
	</body>
</html>