<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/user/login.css}">
		<title>
			ログイン
		</title>
	</head>
	<body class="login_body">
		<div class="login">
			<h2 class="login_title">
				ログイン
			</h2>
			<form autocomplete="off" method="post">
				<label class="email">
					メールアドレス
				</label>
				<input class="email_input" type="email" name="email" inputmode="url" autocomplete="username" autocapitalize="off" spellcheck="false" autofocus required>
				<div class="error email_error">
				</div>
				<label class="password">
					パスワード
				</label>
				<div class="password_action">
					<input class="password_input" type="password" name="password" inputmode="url" autocomplete="new-password" autocapitalize="off" autocorrect="off" spellcheck="false" required>
					<button class="password_btn" type="button" onclick="togglePasswordVisibility('.password_input', this)">
						&nbsp;
					</button>
				</div>
				<button class="login_btn" id="submit_btn" type="submit" disabled>
					ログイン
				</button>
			</form>
			<div class="link">
				<a class="back_btn" href="login">
					戻る
				</a>
			</div>
		</div>
		<script th:src="@{/user/login.js}" defer></script>
	</body>
</html>