<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/header/header.css}">
		<link rel="stylesheet" th:href="@{/balance/category.css}">
		<link rel="stylesheet" th:href="@{/footer/footer.css}">
		<title>
			カテゴリ管理
		</title>
	</head>
	<body>
		<div th:replace="~{header/header :: header}">
		</div>
		<div class="category">
			<h1 class="category_title">
				カテゴリ追加
			</h1>
			<form id="addCategoryForm" class="add_category">
				<input type="text" id="categoryName" name="name" placeholder="カテゴリ入力" required>
				<select id="categoryType" name="type">
					<option value="expense">
						支出
					</option>
					<option value="income">
						収入
					</option>
				</select>
				<button id="addBtn" type="submit">
					追加
				</button>
			</form>
			<h2 class="category_list_title">
				カテゴリ一覧
			</h2>
			<div class="category_list">
				<div class="category_section">
					<h3 class="category_section_title">
						支出
					</h3>
					<ul id="expenseList">
					</ul>
				</div>
				<div class="category_section">
					<h3 class="category_section_title">
						収入
					</h3>
					<ul id="incomeList">
					</ul>
				</div>
			</div>
		</div>
		<div th:replace="~{footer/footer :: footer}">
		</div>
		<script th:src="@{/balance/category.js}" defer></script>
	</body>
</html>