<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="context-path" th:content="@{/}">
		<link rel="stylesheet" th:href="@{/header/header.css}">
		<link rel="stylesheet" th:href="@{/balance/input.css}">
		<link rel="stylesheet" th:href="@{/footer/footer.css}">
		<script th:src="@{/balance/input.js}" defer></script>
		<title>収支入力</title>
	</head>
	<body>
		<div th:replace="~{header/header :: header}"></div>
			<form class="input_top" th:action="@{/register}" method="post" th:object="${transactionForm}" onsubmit="validateForm(event)">
				<div th:if="${errorMessage}" class="error_message_box">
					<p th:text="${errorMessage}"></p>
				</div>
				<section class="section">
					<div class="section_list">
						<h2 class="section_title">
							基本情報
						</h2>
					</div>
					<div class="basic_info">
						<div class="field_group">
							<label>
								日付
								<span class="badge required">
								必須
							</span>
						</label>
							<input type="date" name="targetDate" th:field="*{targetDate}" required>
						</div>
						<div class="field_group">
							<label>
								時間
								<span class="badge required">
									必須
								</span>
							</label>
							<input type="time" name="targetTime" th:field="*{targetTime}" required>
						</div>
						<div class="field_group">
							<label>
								店舗名
								<span class="badge required">
									必須
								</span>
							</label>
							<input type="text" name="storeName" th:field="*{storeName}" placeholder="店舗名" required>
						</div>
					</div>
				</section>
				<section class="section">
					<div class="section_list">
						<h2 class="section_title">
							詳細情報
						</h2>
					</div>
					<select id="categoryTemplate" style="display:none;">
						<option value="">
							カテゴリ選択
						</option>
						<option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}">
						</option>
					</select>
					<div class="detail_list">
						<div class="detail_row" th:each="detail, stat : *{details}">
							<p class="no" th:text="'No.' + ${#numbers.formatInteger(stat.index + 1, 5)}">
								No.00001
							</p>
							<select th:name="|details[${stat.index}].type|">
								<option value="">
									収入or支出
								</option>
								<option value="income">
									収入
								</option>
								<option value="expense">
									支出
								</option>
							</select>
							<div class="item_name">
								<input type="text" th:name="|details[${stat.index}].itemName|" placeholder="商品名or項目 *">
							</div>
							<div class="item_amount">
								<input type="number" th:name="|details[${stat.index}].amount|" placeholder="金額 *">
							</div>
							<div class="item_category">
								<select th:name="|details[${stat.index}].categoryId|">
									<option value="">
										カテゴリ選択
									</option>
									<option th:each="cat : ${categories}" th:value="${cat.categoryId}" th:text="${cat.name}">
									</option>
								</select>
							</div>
							<div class="item_file">
								<input type="hidden" class="file_path_input" th:name="|details[${stat.index}].file|">
								<input type="file" th:id="'file' + ${stat.index}" class="file_input" hidden accept="image/*" onchange="uploadFile(this)">
								<button class="file_btn" type="button" th:onclick="|document.getElementById('file${stat.index}').click()|">
									画像選択 *
								</button>
							</div>
							<div class="item_memo">
								<input type="text" th:name="|details[${stat.index}].memo|" placeholder="メモ (任意)">
							</div>
							<div class="item_delete">
								<button type="button" class="delete_btn" onclick="deleteRow(this)">
									削除
								</button>
							</div>
						</div>
					</div>
					<div class="item_addition">
						<button type="button" class="addition_btn" onclick="addRows(5)">
							＋追加（5件）
						</button>
					</div>
				</section>
				<section class="section">
					<div class="register_list">
						<button type="submit" class="register_btn">
							登録
						</button>
					</div>
				</section>
			</form>
		<div th:replace="~{footer/footer :: footer}">
		</div>
	</body>
</html>