<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/header/header.css}">
		<link rel="stylesheet" th:href="@{/balance/top.css}">
		<link rel="stylesheet" th:href="@{/footer/footer.css}">
		<script th:src="@{/balance/top.js}" defer></script>
		<title>
			トップ
		</title>
	</head>
	<body>
		<div th:replace="~{header/header :: header}">
		</div>
		<div class="top">
			<div class="month_selector">
				<button id="prevMonth">
					前月
				</button>
				<span id="currentMonthLabel">
					9999年12月
				</span>
				<input id="monthPicker" class="month_picker" type="month">
				<button id="nextMonth">
					次月
				</button>
			</div>
			<div class="adove">
				<div class="income">
					<h2 class="income_title">
						収入
					</h2>
					<p class="income_mony">
						¥ 0
					</p>
					<div class="content">
						<div class="in_bar">
						</div>
						<div class="legend">
							<h3 class="legend_title">
								【凡例】
							</h3>
							<div th:each="cat : ${incomeCategories}">
								<span th:class="'legend-icon ' + ${cat.className}">
								</span>
								<span th:text="${cat.name}">
									カテゴリ名
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="expenditure">
					<h2 class="expenditure_title">
						支出
					</h2>
					<p class="expenditure_mony">
						¥ 0
					</p>
					<div class="content">
						<div class="ex_bar">
						</div>
						<div class="legend">
							<h3 class="legend_title">
								【凡例】
							</h3>
							<div th:each="cat : ${expenseCategories}">
								<span th:class="'legend-icon ' + ${cat.className}">
								</span>
								<span th:text="${cat.name}">
									カテゴリ名
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="under">
				<div class="balance">
					<h2>
						前月からの繰越し
					</h2>
					<p class="balance_mony">
						¥ 0
					</p>
				</div>
			</div>
			<div class="under">
				<div class="balance">
					<h2>
						残高
					</h2>
					<p class="balance_mony">
						¥ 0
					</p>
				</div>
			</div>
		</div>
		<div th:replace="~{footer/footer :: footer}">
		</div>
		<script th:inline="javascript">
			window.dbTransactionData = /*[[${transactionData}]]*/ {};
		</script>
	</body>
</html>